---
// P A G I N A   G A L E R I A   D E   I M A G E N E S

// CONFIGURACION
import Layout from "../layouts/Layout.astro";
import Tarjeta from "../components/TarjetaMusica.tsx";
import CurrentSong from "../components/CurrentSong.tsx";
import Axios from "axios"
import Caratula01 from "../assets/Caratulas/acdc.jpg";
import Caratula02 from "../assets/Caratulas/bonjovi.jpg";
import Caratula03 from "../assets/Caratulas/collectivesoul.jpg";
import Caratula04 from "../assets/Caratulas/defleppard.jpg";
import Caratula05 from "../assets/Caratulas/fleetwoodmac.jpg";
import Caratula06 from "../assets/Caratulas/greenday.jpg";
import Caratula07 from "../assets/Caratulas/inxs.jpg";
import Caratula08 from "../assets/Caratulas/journey.jpg";
import Caratula09 from "../assets/Caratulas/marillion.jpg";
import Caratula10 from "../assets/Caratulas/nirvana.jpg";
import Caratula11 from "../assets/Caratulas/oasis.jpg";
import Caratula12 from "../assets/Caratulas/pearljam.jpg";
import Caratula13 from "../assets/Caratulas/queen.jpg";
import Caratula14 from "../assets/Caratulas/rush.jpg";
import Caratula15 from "../assets/Caratulas/tearsforfears.jpg";
import Caratula16 from "../assets/Caratulas/thecure.jpg";
import Caratula17 from "../assets/Caratulas/vanhalen.jpg";
import Caratula18 from "../assets/Caratulas/yes.jpg";
import type { LasCanciones } from "../types/songs";

// Importacion de Canciones
//
const listaMusica = await Axios.get('https://api.institutoalfa.org/api/songs')

console.log(listaMusica.data.songs)


---

<!-- CODIGO -->
<Layout>
	<!-- Slider main container -->
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{
				listaMusica.data.songs.map(function(song: LasCanciones) {
					return (
						<div class="swiper-slide">
							<div class="cada-cancion">
								<Tarjeta cancion={song} client:visible />
							</div>
						</div>
					)
				})
			}
		</div>
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>

	<CurrentSong client:visible></CurrentSong>
</Layout>




<!-- ESTILOS CODIGO CSS -->
<style>
	Layout {
		background-color: khaki;
	}
	.cada-cancion {
		/*text-shadow: 1px 1px 1px darkslategray;*/
	}
</style>




<!-- CODIGO JAVA-SCRIPT -->
<script>
	// core version + navigation, pagination modules:
	import Swiper from "swiper";
	import { Navigation, Pagination } from "swiper/modules";
	// import Swiper and modules styles
	import "swiper/css";
	import "swiper/css/navigation";
	import "swiper/css/pagination";

	// init Swiper:
	const swiper = new Swiper(".swiper", {
		// configure Swiper to use modules
		modules: [Navigation, Pagination],
		// Optional parameters
		direction: "horizontal",
		loop: true,

		// If we need pagination
		pagination: {
			el: ".swiper-pagination",
		},

		// Navigation arrows
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},

		// And if we need scrollbar
		scrollbar: {
			el: ".swiper-scrollbar",
		},
		slidesPerView: 4,
	});
</script>
